body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* button */
#setPixels{
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 5px;
}
#clear{
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 640px;
    width: 640px;
}

.pixel{
    flex: 1 1 1;
    box-sizing: border-box;
    border: 1px solid #eee;
    height: 40px;
    width: 40px;
}